body {
  margin: 0;
}
ul.meny {
  margin: 0;
  background-color: skyblue;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
ul.meny a {
  text-decoration: none;
  color: aliceblue;
  padding: 5px;
  display: block;
}
ul.meny a:hover {
  background-color: cornflowerblue;
}
