{% extends "layout.html" %} {% block content %}

<h1>De fantastiske dyrene!</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aspernatur
  inventore repellat blanditiis ullam natus quos. Laborum est, suscipit nisi
  doloremque nemo natus ut neque perspiciatis sapiente officiis vero quidem? Ab,
  quam impedit corporis iusto expedita fuga voluptatem minus pariatur quidem
  assumenda reiciendis quas velit? Impedit officiis voluptas tempore, debitis
  pariatur totam quos aliquam eveniet, veniam, nobis enim dicta doloremque! Sed
  magni in perferendis eveniet explicabo quaerat doloribus reprehenderit?
  Corrupti quo omnis fuga, eos dolores minima qui porro nobis molestias animi
  iure totam, deleniti illum suscipit unde architecto repellat a? Commodi
  repellat labore, ex earum, at consequatur esse magnam velit recusandae, totam
  ab sequi aliquid voluptatibus accusamus vel reiciendis? Exercitationem facilis
  error doloremque qui ipsum alias non cum rerum rem?
</p>

{% endblock %}
