body {
  margin: 0;
  background-color: #00294e;
}
#pakker {
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  min-height: 100vh;
}
#logo {
  margin: 5px;
}
#banner {
  width: 100%;
  margin-bottom: -5px;
}
.boks {
  background-color: #00294e;
  color: #fff;
  padding: 7px;
  text-align: center;
}
.boks p {
  margin: 0;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.infobokser {
  background-color: #23a2c3;
  height: 100px;
  text-align: center;
}
.infobokser img {
  margin-top: 20px;
}
@media only screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .boks p {
    font-size: 1.5em;
  }
}
