body {
  margin: 0;
}
header {
  border-bottom: 1px solid #80c0a2;
  position: relative;
  height: 60px;
}

#burger_svg {
  position: absolute;
  right: 18px;
  top: 18px;
}
#meny {
  height: 230px;
  background-color: #294035;
  display: none;
  margin-top: -4px;
}

main {
  background-color: aliceblue;
}
#bilde {
  width: 100%;
}
