body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

/*--------- HEADER ------------*/

header {
  border-bottom: 1px solid #80c0a2;
  position: relative;
  height: 60px;
}

#burger_svg {
  position: absolute;
  right: 18px;
  top: 18px;
}
#meny {
  background-color: #294035;
  display: none;
  margin-top: -4px;
}

#meny ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#meny li {
  flex: 1 1 100%;
}

#meny a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 10px 5px;
  display: block;
  width: 100%;
  text-align: center;
}

#meny a:hover {
  background-color: teal;
}

/*--------- MAIN ------------*/

main {
  background-color: aliceblue;
}

#bilde {
  width: 100%;
}

/* ---------- STØRRE SKJERM -----------*/
@media only screen and (min-width: 600px) {
  /*--------- HEADER ------------*/
  #meny ul {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  #meny li {
    flex: none;
  }
  #meny a {
    padding: 10px 20px;
  }
}
