body {
  margin: 0;
  background-color: black;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flex-item {
  margin-top: 10px;
  margin-right: 10px;
  background-color: purple;
  color: white;
  font-size: 30px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.flex-item:hover {
  background-color: seagreen;
}
