body {
  margin: 0;
  font-family: serif;
  background-color: #732c01;
}
#pakker {
  background: #fff;
  max-width: 800px;
  margin: auto;
}
#logo {
  padding: 20px;
}
#banner {
  display: grid;
  grid-template-columns: 1fr;
}
#bannerbilde {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
#bannertekst {
  background-color: #d88b47;
  padding: 20px;
}
#bannertekst p {
  font-size: 25px;
  margin: 0;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 40px 20px;
}
.boks {
  height: 150px;
  background-color: #d5e7f2;
  position: relative;
}
.boks p {
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bd0605;
}
@media only screen and (min-width: 600px) {
  #banner {
    grid-template-columns: 3fr 2fr;
  }
  #bannerbilde {
    height: 300px;
  }
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
